body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

#map {
  height: 100vh;
  margin: 0;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.leaflet-tooltip.house-tooltip {
  background-color: #fff;
  border: 1px solid #b15642;
  box-shadow: none;
}
